[submodule "ext/terraform-provider-databricks"]
	path = ext/terraform-provider-databricks
	url = https://github.com/databricks/terraform-provider-databricks
[submodule "ext/docs"]
	path = ext/docs
	url = git@github.com:databricks/docs.git
